:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --hero-title-color: #ffffff;
    --footer-item-color: rgba(255, 255, 255, 0.6);
    --logo-color: #2196f3;
    --hero-background-color: #2f303a;
    --button-background-color: #f5f4fa;
    --button-background-hover: #188ce8;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.link {
    text-decoration: none;
}
.item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid #ececec;
}
.navigation {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
}
.logo-header {
    color: var(--main-color);
}
.menu {
    display: flex;
    margin-left: 93px;
}
.menu-item {
    color: var(--main-color);
    margin-right: 50px;
}
.menu-item:last-child {
    margin-right: 0;
}
.menu-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding-top: 32px;
    padding-bottom: 32px;
}
.menu-link:hover,
.menu-link:focus {
    color: var(--logo-color);
}
.current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
}
.contacts {
    display: flex;
    margin-left: auto;
}
.contacts-item {
    color: var(--secondary-color);
}
.contacts-item + .item {
    margin-left: 50px;
}
.contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--logo-color);
}
.contact-icon {
    fill: currentColor;
    margin-right: 10px;
}
.contact-icon:hover,
.contact-icon:focus {
    fill: var(--logo-color);
}
.hero {
    max-width: 1600px;
    background-color: var(--hero-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../img/our-team.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    margin-bottom: 30px;
    padding-right: 235px;
    padding-left: 235px;
}
.hero-btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--hero-title-color);
    background-color: var(--logo-color);
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--button-background-hover);
}

.about {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.list-item:last-child {
    margin-right: 0;
}
.list-link {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-background-color);
    margin-bottom: 30px;
}
.list-item:not(:last-child) {
    margin-right: 30px;
}
.list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
}
.list-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-color);
}
.list-hidden {
    display: flex;
}

.gallery {
    padding-top: 0;
    padding-bottom: 94px;
}
.gallery-title {
    color: var(--main-color);
    margin-bottom: 50px;
}
.gallery-list {
    display: flex;
}

.gallery-item:not(:last-child) {
    margin-right: 30px;
}
.gallery-list-text {
    min-width: 205px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--hero-title-color);
}

.box-thumb {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 27px 82px 27px 83px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--button-background-color);
}
.team-title-main {
    color: var(--main-color);
    margin-bottom: 50px;
}
.team-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--main-color);
    max-width: 270px;
    background-color: var(--hero-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}
.team-title {
    margin-bottom: 10px;
}
.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 16px;
}
.team-list {
    display: flex;
}
.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
}
.team-soc-item {
    margin-right: 10px;
}
.team-soc-item:last-child {
    margin-right: 0px;
}
.team-soc-link {
    width: 44px;
    height: 44px;
    background-color: var(--hero-title-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
    fill: currentColor;
}
.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--logo-color);
    fill: var(--hero-title-color);
}
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
}
.clients-title {
    color: var(--main-color);
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
}
.clients-item {
    width: 170px;
}
.clients-link {
    width: calc(100% / 6- 30px);
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    background-color: var(--hero-title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
    fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--logo-color);
    color: var(--logo-color);
}
.clients-item:not(:last-child) {
    margin-right: 30px;
}
.footer {
    background-color: var(--hero-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}
.footer-section {
    display: flex;
    align-items: baseline;
}
.footer-address-box {
    display: inline-block;
}
.footer-address {
    margin-bottom: 9px;
    display: block;
}
.footer-contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.logo-footer {
    color: var(--hero-title-color);
}
.address {
    margin-top: 30px;
    display: block;
}
.footer-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--hero-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item {
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-item-color);
    margin-bottom: 9px;
}
.footer-item:last-child {
    margin-bottom: 0;
}
.footer-link:hover,
.footer-link:focus {
    color: var(--logo-color);
}
.footer-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--hero-title-color);
}

.footer-soc {
    display: block;
    margin-left: 70px;
}

.footer-soc-list {
    display: flex;
}

.footer-soc-item {
    margin-right: 10px;
}

.footer-soc-item:last-child {
    margin-right: 0;
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hero-title-color);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
    fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--logo-color);
    fill: var(--hero-title-color);
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--button-background-color);
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list {
    margin-right: 8px;
}

.btn-list:last-child {
    margin-right: 0;
}

.portfolio-button {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    color: var(--hero-title-color);
    background-color: var(--logo-color);
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
    margin-right: 8px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--hero-title-color);
    background-color: var(--logo-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button:hover,
.portfolio-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.about-work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.works-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.works-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-color);
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.works-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    background: var(--hero-title-color);
    border: 1px solid #eeeeee;
}

.works-top-wrap {
    position: relative;
    overflow: hidden;
}
.works-top-text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 63px 24px;
    top: 0;
    font-size: 18px;
    line-height: 1.56;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--hero-title-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
    color: var(--logo-color);
}
.card-content {
    border-width: 1px;
    padding: 20px 24px 20px 24px;
}

.works-item-link {
    display: inline-block;
    text-decoration: none;
    transition-property: transform, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-item-link:hover,
.works-item-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-item-link:hover .works-top-text,
.works-item-link:focus .works-top-text {
    transform: translateY(0%);
}

/* --------------backdrop------------- */
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms, visibility 300ms;
  }
  
  .backdrop.is-hidden .modal {
    transform: rotate(-290deg);
  }
  
  .modal {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms;
    transform: translate(-50%, -50%) rotate(0);
  }
  
  .modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* box-sizing: border-box; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .icon-vector {
    fill: #000000;
  }
  
  .modal-button:hover .icon-vector,
  .modal-button:focus .icon-vector {
    fill: #2196f3;
  }
  
  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .backdrop-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
  
    color: var(--title-text-color);
  }
  
  /* -----modal-field------ */
.modal-field {
    margin-bottom: 10px;
  }
  
  .label-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .modal-wrap {
    position: relative;
  }
  
  .input-form {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .input-form:focus {
    border-color: #2196f3;
  }
  
  .input-form:focus + .modal-icon-person {
    fill: #2196f3;
  }
  
  .modal-icon-person {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    fill: #212121;
    transition: border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .textarea-form {
    font-family: inherit;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    transition: border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .textarea-form:focus {
    border-color: #2196f3;
  }
  
  .checkbox-policy {
    width: 423px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 13px;
  }
  
  .check-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
  }
  
  .modal-icon-accept {
    width: 11px;
    height: 8px;
    fill: transparent;
  }
  
  .check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input-check:checked + .check-text span {
    background-color: #2196f3;
    border: none;
  }
  
  .input-check:checked + .check-text span .modal-icon-accept {
    fill: #ffffff;
    border: none;
  }
  
  .policy {
    margin-left: 3px;
    line-height: 1.7;
    text-decoration-line: underline;
  
    color: #2196f3;
  }
  
  .modal-submit-button {
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: block;
    margin: 0 auto;
  }
  
  .modal-button-case {
    display: flex;
    justify-content: center;
  }
  
/*Subscribe*/
.subsсribe-footer {
  margin-left: auto;
}

.footer-form {
  display: flex;
  align-items: center;
}

/* .label-class {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff;
} */

.subsсribe-footer-title {
   margin-bottom: 20px; 
   color: #ffffff;

}

.footer-subscribe-case {
  display: flex;
  align-items: baseline;
}

.email-footer {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 11px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.button-subscribe {
  width: 200px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.submit-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}