/* Наша команда */
.team {
  background-color: $section-background;
  display: flex;
  flex-direction: column;
}
.team__title {
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $title-text-color;
  letter-spacing: $main-letter-spacing;
}
.team__list {
  display: flex;
}
.team__item {
  width: 270px;
  display: block;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $background-color;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__img {
  display: block;
}
.team__name {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $title-text-color;
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $primary-text-color;
  margin-bottom: 16px;
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social {
  display: flex;
  justify-content: center;
}
.social__item {
  margin-right: 10px;
  &:last-child {
    margin: 0;
  }
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: $social-link;
  fill: currentColor;
  border-radius: 50px;
  transition: background-color 250ms $animation, color 250ms $animation;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $btn-text-color;
  }
}
