/* Чем мы занимаемся */
.works {
  padding-top: 0;
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $title-text-color;
  margin-bottom: 50px;
}
.works__list {
  display: flex;
}
.works__img {
  display: block;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.works__text {
  display: block;
  position: relative;
}
.works__p {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $p-text-color;
  background-color: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
}
