.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $primary-logo-color;
  align-items: center;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-web {
  color: $accent-color;
}
