.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $web_hover_button_color;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo_2nd-part {
  color: $black_color;
}

.footer__logo {
  color: $white_color;
}