html {
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  color: $body-text-color;
  background-color: $body-bg-color;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul,
ul,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.active {
  color: $active-color;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
