  $wrapper_footer_background_color: #2f303a;
  $web_hover_button_color: #2196f3;
  $main_color: #212121;
  $white_color: #fff;
  $mail_phone_desc: #757575;
  $port_buttons_and_team_background: #f5f4fa;
  $black_color: #000;
  $divide_line_color: #ececec;
  $card_border: #eeeeee;
  $hero_background: #c4c4c4;
  $social_icon_color: #afb1b8;
  $animation: cubic-bezier(0.4, 0, 0.2, 1);
  $gradient-hero-color: rgba(47, 48, 58, 0.4);

  $additional_header_size: 36px;
  $main_text_size: 14px;
  $button_text_size: 16px;
  $hero_header: 44px;
  $modal_text: 20px;
  $form_label_text: 12px;
  $card_text: 18px;
  $team_and_card: 16px;
