$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$background-color: #ffffff;
$p-text-color: #ffffff;
$hero-text-color: #ffffff;
$hero-btn-color: #2196f3;
$hero-btn-hover: #188ce8;
$hero-background-color: #2f303a;
$btn-text-color: #ffffff;
$primary-logo-color: black;
$footer-logo-color: #ffffff;
$section-background: #f5f4fa;
$footer-background: #2f303a;
$footer-link: rgba(255, 255, 255, 0.6);
$main-letter-spacing: 0.03em;
$card-background: #ffffff;
$social-link: #afb1b8;
$animation: cubic-bezier(0.4, 0, 0.2, 1);
$card-background-hover: rgba(33, 150, 243, 0.9);
